*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep    
*.null    
**/.assets/
JLinkLog.txt

*.iex
*.htm
*.sct
*.map

*.dbgconf

*.vscode
蓝桥杯2024省赛资料/